<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/process_function.css' %}" />
		<title>TodoApp</title>
		<style>
			.status h1 {
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
				background-image: linear-gradient(to right, indigo, #ff6651);
			}

			.title {
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body style="flex-direction: column">
		<!-- todo -->
		<div class="header">
			<img
				class="logo"
				style="height: 80px; display: block; width: 100%"
				src="{% static 'img/ToDoApp.svg' %}"
				alt=""
			/>
		</div>
		<h3 class="text-gradient username">
			Username: <span>{{username}}</span>
		</h3>

		<h3 class="text-gradient title_page">
			Title: <span class="big_title">{{title}}</span>
		</h3>

		<div class="todo-container">
			<div class="status" id="0">
				<h1>No Status</h1>
				{% for i in list_nostatus %}
				<div class="todo" draggable="true" style="display: block">
					<input class="id" type="hidden" value="{{i.id}}" />
					{{i.content}}<span class="close">×</span>
				</div>
				{% endfor%}

				<button id="add_btn" data-target-modal="#todo_form">
					+ Add Job
				</button>
			</div>

			<div class="status" id="1">
				<h1>Not Started</h1>
				{% for i in list_notstarted %}
				<div class="todo" draggable="true" style="display: block">
					<input class="id" type="hidden" value="{{i.id}}" />
					{{i.content}}<span class="close">×</span>
				</div>
				{% endfor%}
			</div>
			<div class="status" id="2">
				<h1>In Progress</h1>
				{% for i in list_inprogress %}
				<div class="todo" draggable="true" style="display: block">
					<input class="id" type="hidden" value="{{i.id}}" />
					{{i.content}}<span class="close">×</span>
				</div>
				{% endfor%}
			</div>
			<div class="status" id="3">
				<h1>Completed</h1>
				{% for i in list_complete %}
				<div class="todo" draggable="true" style="display: block">
					<input class="id" type="hidden" value="{{i.id}}" />
					{{i.content}}<span class="close">×</span>
				</div>
				{% endfor%}
			</div>
		</div>

		<div id="overlay"></div>
		<!-- modal -->
		<div class="modal" id="todo_form">
			<div class="header">
				<div class="title">Add Todo</div>
				<button class="btn close-modal">&times;</button>
			</div>
			<div class="body">
				<input type="text" id="todo_input" />
				<input type="submit" value="Add Todo" id="todo_submit" />
			</div>
		</div>
		<script src="{% static 'javascript/process_function.js' %}"></script>
	</body>
</html>
